.home-section
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-around

.section-top
  font-size: 6vw

.section-title-container
  width: 100%
  display: flex
  justify-content: space-between

.section-title-block
  display: flex
  width: 75vw
  flex-direction: column
  justify-content: space-between

.section-title
  text-transform: uppercase
  font-size: 36px
  font-size: 6vw

.section-subtitle
  font-size: 36px
  font-size: 4vw
  font-weight: 100


.section-logo
  width: 25vw

  img
    width: 90%
    float: right

.section-content
  width: 100vw
  height: auto

.buttons-container
  width: 50vw
  display: flex
  float: right
  flex-direction: column
  justify-content: space-around
  text-align: center


.index-button
  padding: 8px 16px
  margin-bottom: 2vh
  display: inline-block
  text-decoration: none
  border-radius: 50px 0px 0px 50px
  background-color: $gray-light
  text-transform: uppercase
  color: $alpha
  font-size: 2.5vw

  &:hover
    background-color: $indigo
    color: white
