<footer class="footer" role="contentinfo" id="footer">
  <div class="footer-logo">
    <div class=" without-decoration">
      <a href="{{ site.url }}#top"><img src="/assets/img/logos/osd-logo-icon-circle-black.svg" alt="Logo image"></a>
    </div>
    <h2><a href="https://blog.osd.tools">Blog</a></h2>
  </div>
  <div class="footer-links without-decoration">
    <p class="sans"><a href="/docs/1_about.html">About</a> • <a href="/docs/2_servizi.html">Servizi</a> • <a href="http://masterplan.tools">Masterplan</a> •
    <a href="/docs/4_tos.html">Termini e Condizioni d'uso</a></p>
      <a href="https://github.com/{{ site.github}}"><img src="/assets/img/icons/github-square.svg" alt="github logo"></a>
      <a href="https://twitter.com/{{ site.twitter }}"><img src="/assets/img/icons/twitter-square.svg" alt="twitter logo"></a>
      <a href="https://www.facebook.com/{{ site.facebook }}"><img src="/assets/img/icons/facebook-square.svg" alt="facebook logo"></a>
  </div>
  <hr>

  <h4>© opensensorsdata srl, via Daniele Manin, 60 Venezia Italy
    <br>Tutti i contenuti, tranne i loghi e i testi specificati sono distribuiti con <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.it">Licenza CC-BY-SA 4.0</a>
    <br><a class="footer-text-link" href="mailto:contact@osd.tools">contact@osd.tools</a> // (pec) opensensorsdata@pec.it
    <br>IVA 04294660271
    <br>IBAN IT 56 G 02008 02021 000103730837
 </h4>
</footer>
