<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-logo"><a href="{{ site.url }}{{ site.baseurl }}/#header"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/logos/osd-logo-icon-circle-white.svg"></a></div>
  </div>
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading"> {{ site.title }}</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>via Daniele Manin, 60 Venezia Italy</li>
        <li>(only for Italy) opensensorsdata@pec.it</li>
        <li>VAT IVA 04294660271</li>
        <li>IBAN IT 56 G 02008 02021 000103730837</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Contatti</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="mailto:contact@osd.tools">contact@osd.tools</a></li>
        <li><i>(opensensorsdata@pec.it)</i></li>
        <li><a href="https://github.com/opensensorsdata">Github</a></li>
        <li><a href="https://twitter.com/osd_it">Twitter</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Dettagli</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="http://masterplan.tools">Masterplan</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/manifesto-it">Manifesto</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/privacy-terms">Privacy & Termini</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Menu</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="{{ site.url }}{{ site.baseurl }}/#pricing">Prezzi</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/projects">Progetti</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/archive">Archivio</a></li>
        <li><a href="http://projectopendata.com/">Projectopendata</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <a href="https://github.com/opensensorsdata"><button class="mdl-mega-footer__social-btn"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/icons/github.svg"></button></a>
    <a href="https://twitter.com/osd_it"><button class="mdl-mega-footer__social-btn"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/icons/twitter.svg"></button></a>
    <a href="mailto:contact@osd.tools"><button class="mdl-mega-footer__social-btn"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/icons/envelope.svg"></button></a>
  </div>
</footer>
