<footer class="footer" role="contentinfo" id="footer">
  <div class="footer-logo">
    <div class=" without-decoration">
      <a href="{{ site.url }}#top"><img src="/assets/img/logos/osd-logo-icon-circle-black.svg" alt="Logo image"></a>
    </div>
    <h2><a href="https://blog.osd.tools">Blog</a></h2>
  </div>
  <div class="footer-links without-decoration">
    <ul>
      <li><b><a href="/documents/about.html">About</a></b></li>
      <li><a href="/documents/progetti.html">Progetti</a></li>
      <li><a href="/documents/servizi.html">Servizi</a></li>
    </ul>
    <ul>
      <li><b><a href="/documents/manifesto.html">Manifesto OSD</a></b></li>
      <li><a href="http://masterplan.tools">Masterplan</a></li>
      <li><a href="javascript:void(0)">Project open data</a></li>
    </ul>
    <ul>
      <li><b><a href="https://github.com/{{ site.github}}">Github</a></b></li>
      <li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
      <li><a href="https://www.facebook.com/{{ site.facebook }}">Facebook</a></li>
    </ul>
    <ul>
      <li><b><a href="javascript:void(0)">Statuto OSD</a></b></li>
      <li><a href="javascript:void(0)">Termini e Condizioni</a></li>
      <li><a href="javascript:void(0)">Privacy</a></li>
    </ul>
  </div>
  <hr>

  <h4>© opensensorsdata srl, via Daniele Manin, 60 Venezia Italy
    <br>Tutti i contenuti, tranne i loghi e i testi specificati sono distribuiti con <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.it">Licenza CC-BY-SA 4.0</a>
    <br><a class="footer-text-link" href="mailto:contact@osd.tools">contact@osd.tools</a> // (pec) opensensorsdata@pec.it
    <br>IVA 04294660271
    <br>IBAN IT 56 G 02008 02021 000103730837
 </h4>
</footer>
