<!-- Decoration cut -->
<img class="print-angle-1" src="assets/img/decoration/Printing_Registration_cut.svg">
<img class="print-angle-2" src="assets/img/decoration/Printing_Registration_cut.svg">
<img class="print-angle-3" src="assets/img/decoration/Printing_Registration_cut.svg">
<img class="print-angle-4" src="assets/img/decoration/Printing_Registration_cut.svg">

<!-- Decoration Mark   -->
<img class="print-cross-1" src="assets/img/decoration/Printing_Registration_Mark.svg">
<img class="print-cross-2" src="assets/img/decoration/Printing_Registration_Mark.svg">
<img class="print-cross-4" src="assets/img/decoration/Printing_Registration_Mark.svg">
<img class="print-cross-3" src="assets/img/decoration/Printing_Registration_Mark.svg">
