<section class="section-home" id="header">

  {% include home-section-decoration.html %}

  <p class="osd-home-name">opensensorsdata</p>

  <div class="section-title-block">
    <a href="/about">
      {% img logos/osd-logo-home-tondo class="osd-home-logo-button" %}
    </a>
    <div class="title-block">
      <p class="section-title">manifattura open data</p>
      <p class="section-payoff">
        servizi e progetti di riuso dati
      </p>
    </div>
  </div>

  <div class="section-bottom-block">
    <a href="#intrapreneurship">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        intrapreneurship
      </button>
    </a>
    <a href="#obm">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        open business model
      </button>
    </a>
    <a href="#intrapreneurship">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        metodo
      </button>
    </a>
    <a href="">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        progetti
      </button>
    </a>
    <a href="">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        prezzi
      </button>
    </a>
  </div>


</section>
