<section class="home-large" id="intrapreneurship">

  {% include home-section-decoration.html %}

  <div class="home-section-1">

    <div class="section-title-block">
      <a href="/about">
        <img class="osd-home-logo-button" src="/assets/img/icons/button-recycle.svg" alt="pulsante vai">
      </a>
      <div class="section-title-block-titles">
        <h3 class="title">intrapreneurship</h3>
        <h4 class="payoff">creare innovazione dall'interno</h4>
      </div>
    </div>

  </div>

  <div class="home-section-2">
    <div class="home-section-text-container">

      <p class="home-section-text">La maggior parte dei progetti di riuso dati nascono all'interno di amministrazioni, imprese e istituti. La nostra sfida è aiutare a formare la prossima generazione di chi è o sarà a guida di questi progetti: gli intrepreneurs dei dati. Il nostro obiettivo è aiutarli a trasformare idee in progetti efficaci e sostenibili, a integrarsi nella struttura organizzativa esistente e a sfruttarne al meglio le risorse e le capacità.</p>

    </div>

  </div>
</section>
