<section class="home-large" id="header">

  {% include home-section-decoration.html %}

  <div class="home-section-1">

    <span class="name">{{ site.name }}</span>
    <div class="section-title-block">
      <a href="/about">
        <img class="osd-home-logo-button" src="/assets/img/logos/osd-logo-home-tondo.svg">
      </a>
      <div class="section-title-block-titles">
        <h3 class="title">{{ site.subtitle }}</h3>
        <h4 class="payoff">{{ site.payoff }}</h4>
      </div>
    </div>

  </div>

  <div class="home-section-2">
    <div class="section-buttons">

      <a class="button button-primary button-tiny" href="">intrapreneurship</a>

      <a class="button button-primary button-tiny" href="">open business model</a>

      <a class="button button-primary button-tiny" href="">metodo</a>

      <a class="button button-primary button-tiny" href="">prezzi</a>
    </div>

  </div>
</section>
