<section class="home-large" id="obm">

  {% include home-section-decoration.html %}

  <div class="home-section-1">

    <div class="section-title-block">
      <a href="/about">
        <img class="osd-home-logo-button" src="/assets/img/icons/button-obm.svg">
      </a>
      <div class="section-title-block-titles">
        <h3 class="title">open business model</h3>
        <h4 class="payoff">pianificare i modelli di riuso</h4>
      </div>
    </div>

  </div>

  <div class="home-section-2">
    <div class="home-section-text-container">

      <p class="home-section-text">Il business model è un elemento essenziale di organizzazione di un progetto. I progetti opendata non sono un'eccezione. La nostra sfida è di aiutare a scoprire nuove opportunità di mercato per i dati dei nostri clienti, definire nuovo valore per gli stakeholder conivolti nei loro network e studiare strategie per aprire i confini della loro organizzazione, accelerando lo sviluppo e abbattendone i costi.</p>

    </div>

  </div>
</section>
