<section class="section-home" id="intrapreneurship">

  {% include home-section-decoration.html %}

  <div class="section-title-block">
    <div class="osd-home-logo-button">
      <a href="">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">group_work</i>
        </button>
      </a>
    </div>
    <div class="title-block">
      <p class="section-title">intrapreneurship</p>
      <p class="section-payoff">
        creare innovazione dall'interno
      </p>
    </div>
  </div>

  <div class="section-bottom-block">
    <p class="section-bottom-block-text">
      La maggior parte dei progetti di riuso dati nascono all'interno di amministrazioni, imprese e istituti. La nostra sfida è aiutare a formare la prossima generazione di chi è o sarà a guida di questi progetti: gli intrepreneurs dei dati. Il nostro obiettivo è aiutarli a trasformare idee in progetti efficaci e sostenibili, a integrarsi nella struttura organizzativa esistente e a sfruttarne al meglio le risorse e le capacità.
    </p>
  </div>

</section>
