<section class="section-home" id="obm">

  {% include home-section-decoration.html %}

  <div class="section-title-block">
    <div class="osd-home-logo-button">
      <a href="">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">assessment</i>
        </button>
      </a>
    </div>
    <div class="title-block">
      <p class="section-title">open business model</p>
      <p class="section-payoff">
        pianificare i modelli di riuso
      </p>
    </div>
  </div>

  <div class="section-bottom-block">
    <p class="section-bottom-block-text">
      Il business model è un elemento essenziale di organizzazione di un progetto. I progetti opendata non sono un'eccezione. La nostra sfida è di aiutare a scoprire nuove opportunità di mercato per i dati dei nostri clienti, definire nuovo valore per gli stakeholder conivolti nei loro network e studiare strategie per aprire i confini della loro organizzazione, accelerando lo sviluppo e abbattendone i costi.
    </p>
  </div>

</section>
