<!-- Decoration cut -->
{% img decoration/Printing_Registration_cut class="print-angle-1" %}
{% img decoration/Printing_Registration_cut class="print-angle-2" %}
{% img decoration/Printing_Registration_cut class="print-angle-3" %}
{% img decoration/Printing_Registration_cut class="print-angle-4" %}

<!-- Decoration Mark   -->
{% img decoration/Printing_Registration_Mark class="print-cross-1" %}
{% img decoration/Printing_Registration_Mark class="print-cross-2" %}
{% img decoration/Printing_Registration_Mark class="print-cross-3" %}
{% img decoration/Printing_Registration_Mark class="print-cross-4" %}
