<section class="home-large" id="prezzi">

  <div class="home-section-prezzi">

    <div class="section-prezzi-title-block">
      <a href="/servizi">
        <img class="osd-home-logo-button" src="/assets/img/icons/button-handshake.svg">
      </a>
      <div class="section-title-block-prezzi-titles">
        <a class="button button-primary button-tiny" href="#prezzi">prezzi e servizi</a>
        <a class="button button-primary button-tiny" href="#prezzi">pro bono</a>
      </div>
    </div>

  </div>

  {% include section-cards-price.html %}


</section>
