<section class="home-section" style="background-color:#F06695; color:black" id="top">
  <div class="section-top">
    opensensorsdata
  </div>
  <div class="section-title-container">
    <div class="section-title-block">

      <span class="section-title">manifattura open data</span>
      <span class="section-subtitle">servizi e progetti di riuso dati</span>
    </div>
    <div class="section-logo">
      <a href="/documents/about.html"><img src="/assets/img/logos/osd-logo-home-tondo.svg" alt="osd logo" /></a>
    </div>
  </div>


  <div class="section-content">
    <div class="buttons-container">
      <a class="index-button" href="#intrapreneurship">intrapreneurship</a>
      <a class="index-button" href="#obm">open business model</a>
      <a class="index-button" href="#metodo">metodo</a>
      <a class="index-button" href="#prezzi">prezzi</a>
    </div>
  </div>
</section>


{% for home-block in site.data.home-blocks %}
<section class="home-section" style="background-color:{{ home-block.bg }}; color:{{ home-block.color }}" id="{{ home-block.id }}">
  <div class="section-top">
    <a class="top-name-link" style="color:{{ home-block.color }}" href="#{{ home-block.prev-id}}">△</a>
    {{ home-block.top-name }}
    <a class="top-name-link" style="color:{{ home-block.color }}" href="#{{ home-block.next-id}}">▽</a>
  </div>
  <div class="section-title-container">
    <div class="section-logo">
      <a href="{{ home-block.button-url }}"><img src="/assets/img/icons/{{ home-block.image }}" alt="{{ home-block.title }} logo" /></a>
    </div>
    <div class="section-title-block">
      <span style="text-align:right" class="section-title">{{ home-block.title }}</span>
      <span style="text-align:right" class="section-subtitle">{{ home-block.subtitle }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="home-section-content-text">❝ {{ home-block.content }} ❞</div>
</section>
{% endfor %}

<section class="home-section-prezzi" style="background-color:#FFFFFF; color:#000" id="prezzi">
  <div class="section-top">
    <a class="top-name-link" style="color:#000" href="#{{ home-block.prev-id}}">△</a>
    4⋅4
    <a class="top-name-link" style="color:#000" href="#{{ home-block.next-id}}">▽</a>
  </div>
  <div class="section-title-container">
    <div class="section-logo">
      <a href="{{ home-block.button-url }}"><img src="/assets/img/icons/button-handshake.svg" alt="prezzi logo" /></a>
    </div>
    <div class="section-title-block">
      <span style="text-align:right" class="section-title"><a class="link-prezzi" href="/documents/servizi">prezzi</a></span>
      <span style="text-align:right" class="section-title"><a class="link-prezzi" href="documents/servizi/#probono">probono</a></span>
    </div>
  </div>
  {% include price-cards.html %}
</section>
