<section class="home-large" id="metodo">

  {% include home-section-decoration.html %}

  <div class="home-section-1">

    <div class="section-title-block">
      <a href="/about">
        <img class="osd-home-logo-button" src="/assets/img/icons/button-masterplan.svg">
      </a>
      <div class="section-title-block-titles">
        <h3 class="title">metodo</h3>
        <h4 class="payoff">armonizzare processi e persone</h4>
      </div>
    </div>
    i nostri progetti

  </div>

  <div class="home-section-2">
    <div class="home-section-text-container">

      <p class="home-section-text">La nostra missione è aiutare i nostri clienti a sviluppare e perseguire un uso strategico degli opendata. Il <a href="http://masterplan.tools">masterplan</a> è il nostro metodo agile per raggiungere questo obiettivo. Consente di catturare il valore dei dati e applicarlo ai modelli di business tradizionali. Masterplan è pensato per armonizzare gli obiettivi di business con l'organizzazione dei ruoli, processi e attività che ne consentono il raggiungimento.</p>

    </div>

  </div>
</section>
