
<div class="menu-arrow">
  <div class="arrow-prev without-decoration sans">
    <a href="{{ site.baseurl }}{{ page.prec | xml_escape  }}">
      <i class="fa fa-lg fa-angle-left" aria-hidden="true"></i>
      <span>{{ page.prec-title | truncate: 25 }}</span>
    </a>
  </div>
  <div class="arrow-next without-decoration sans">
    <a href="{{ site.baseurl }}{{ page.prox }}">
      <span>{{ page.prox-title | truncate: 25 }}</span> <i class="fa fa-lg fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
