@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto/Roboto-Black.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto/Roboto-BlackItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Bungee_Inline/BungeeInline-Regular.ttf')  format('truetype');
}

@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "components/buttons";

@import "section/home-section-decoration";
@import "section/home-section";
@import "section/home-section-elements";
