.page-content
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-bottom: 96px

.date
  width: 55%
  margin-top: 25px
  text-align: right
  font-style: italic

  @media (max-width: 760px)
    width: 100%
