/*
- Measure section
- Decoration printing style
- Name
- Section bottom block
*/


// Measure section
.osd-home {
  max-width: 600px;
  margin: auto;
  padding-bottom: 32px;
}

.section-home {
  height: 100vh;
  position: relative;
  margin-bottom: 56px;
}

// Decoration printing style
.print-angle-1 {
  position: absolute;
  top: 0px;
}

.print-angle-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.print-angle-3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.print-angle-4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.print-cross-1 {
  position: absolute;
  width: 12px;
  top: 0px;
  right: 50%;
  transform: translateX(50%);
}

.print-cross-2 {
  position: absolute;
  width: 12px;
  top: 50%;
  transform: translateY(50%);
  right: 0px;
}

.print-cross-3 {
  position: absolute;
  width: 12px;
  bottom: 0px;
  right: 50%;
  transform: translateX(50%);
}

.print-cross-4 {
  position: absolute;
  width: 12px;
  top: 50%;
  transform: translateY(50%);
  left: 0px;
}

// Name
.osd-home-name {
  position: absolute;
  font-size: .9rem;
  padding: 4px 8px;
  letter-spacing: 0.4em;
  margin: 32px 0px 0px 16px;
}

// Section bottom block
.section-bottom-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 25vh;
  width: fit-content;
  bottom: 12.5%;
  left: 50%;
  transform: translate(-50%);

  a {
    text-align: center;
  }
}
