.toggle:before
  +position(fixed, 16px 16px null null)
  +transition()
  text-decoration: none
  font-size: 24px
  color: black
  z-index: 1
  cursor: pointer
  content: "☰"

.sidebar
  +position(fixed, 0px -250px 0px null)
  width: 240px
  z-index: 0
  background: $indigo
  -webkit-overflow-scrolling: touch
  overflow-y: auto
  +transition()

  ul
    margin: 0
    padding: 0

  li
    list-style: none

    a
      color: white
      text-decoration: none
      display: block
      color: white
      font-size: 16px
      -webkit-font-smoothing: antialiased
      text-rendering: optimizeLegibility
      cursor: pointer
      border-bottom: 1px solid lighten($indigo, 10%)
      padding: 10px 30px

      &:focus
        background-color: $pink

      &:hover
        background-color: lighten($indigo, 10%)

#sidebartoggler
  display: none

  &:checked + .page-wrap

    .sidebar
      right: 0px

    .toggle:before
      right: 256px
      content: "✕"

    .wrapper-normal
      padding-right: 190px
