---
layout: default
---


{% include header.html %}



<h1>{{ page.title }}</h1>

<div class="page-content" itemprop="articleBody">
  {{ content }}

  {% assign m = page.date | date: "%-m" %}
  <span class="date">
    {{ page.date | date: "%-d" }}
    {% case m %}
    {% when '1' %}Gennaio
    {% when '2' %}Febbraio
    {% when '3' %}Marzo
    {% when '4' %}Aprile
    {% when '5' %}Maggio
    {% when '6' %}Giugno
    {% when '7' %}Luglio
    {% when '8' %}Augusto
    {% when '9' %}Settembre
    {% when '10' %}Ottobre
    {% when '11' %}Novembre
    {% when '12' %}Dicembre
    {% endcase %}
    {{ page.date | date: "%Y" }}

  </span>
  {% if page.update %}
    {% assign m = page.update | date: "%-m" %}
    <span class="date">Update:
      {{ page.update | date: "%-d" }}
      {% case m %}
      {% when '1' %}Gennaio
      {% when '2' %}Febbraio
      {% when '3' %}Marzo
      {% when '4' %}Aprile
      {% when '5' %}Maggio
      {% when '6' %}Giugno
      {% when '7' %}Luglio
      {% when '8' %}Augusto
      {% when '9' %}Settembre
      {% when '10' %}Ottobre
      {% when '11' %}Novembre
      {% when '12' %}Dicembre
      {% endcase %}
      {{ page.update | date: "%Y" }}

    </span>
    {% endif %}

</div>
